@import "tailwindcss";

@theme {
  --color-gray-100: #f3f4f6;
  --color-gray-900: #111827;
}

@layer base {
  body {
    background-color: var(--color-gray-100);
    color: var(--color-gray-900);
  }
}
